.create-edit-view-template {
	.template-view-container{
		min-width: 43.75rem;
	}
	.action-button-bar {
		display: flex;
		justify-content: space-between;
		
	}

	.confirmation-btn{
		border-width: 1px ;
		&:hover{
			border-width: 2px ;
		}
	}
	

	.template-action-loader {
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.label {
		margin: auto 4px;
	}
}
